{% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}" class="whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white">
        <span class="icon-[mdi-light--arrow-left] text-lg transition-all group-hover:-translate-x-1"></span>
        <span>上一页</span>
    </a>
{% else %}
    <a class="cursor-not-allowed whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white">
        <span class="icon-[mdi-light--arrow-left] text-lg transition-all group-hover:-translate-x-1"></span>
        <span>上一页</span>
    </a>
{% endif %}

{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}" class="whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white">
        <span>下一页</span>
        <span class="icon-[mdi-light--arrow-right] text-lg transition-all group-hover:translate-x-1"></span>
    </a>
{% else %}
    <a class="cursor-not-allowed whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white">
        <span>下一页</span>
        <span class="icon-[mdi-light--arrow-right] text-lg transition-all group-hover:translate-x-1"></span>
    </a>
{% endif %}